<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZnwJFn_O1RoV4yPLR-P9z2mi7HF-aDN4</string>
	<key>GCM_SENDER_ID</key>
	<string>276214371952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damien.loka</string>
	<key>PROJECT_ID</key>
	<string>loka-damien</string>
	<key>STORAGE_BUCKET</key>
	<string>loka-damien.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276214371952:ios:1e3159603d1ada0c1506b5</string>
</dict>
</plist>